<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h3>제목 : {{ rows[0][1] }}</h3>
    <p>내용 : {{ rows[0][2]}}</p>
    <form action="/delete" method="POST">
        <input type="hidden" name="idx" value="{{ rows[0][0] }}">
        <input type="submit" value="Delete">
    </form>
    <a href="{{ url_for('update',idx=rows[0][0]) }}"><button>Update</button></a>
    
</body>
</html>