<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>게시판</h3>
    <h4>Update</h4>
    <form action="/update" method="POST">
        <p>이름</p>
        <input type="text" name="name" value="{{ rows[0][1]}}">
        <p>내용</p>
        <input type="text" name="context" style="width:400px;height: 100px;" value="{{ rows[0][2] }}">
        <p><input type="submit"></p>
    </form>
</body>
</html>